*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-white: rgb(255, 255, 255);
    --btn-color: rgb(241, 69, 69);
    --btn-hover-color: rgb(255, 0, 0);
    --border-radius: 8px;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Spin Cycle OT";
    src: url("fonts/Spin-Cycle-OT.otf") format("opentype");
}

.flex-box{
    display: flex;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
}

body{
    background-image: url(Assets/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "source sans pro";
    color: var(--text-color-white);
}

.navbar{
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.hamburger{
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    position: static;
}
.hamburger span{
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
    transition: 0.4s ease;
}

.hamburger .short-span{
    width: 50%;
}

#menu-toggle {
    display: none;
}


.logo img{
    width: 150px;
}

.nav-links{
    list-style-type: none;
}

.nav-links li{
    justify-content: space-between;
    padding: 20px;
}

.nav-links a{
    text-decoration: none;
    color: var(--text-color-white);
    white-space: nowrap;
}

.nav-links a:hover{
    color: var(--btn-color);
    
}

.first-section{
    margin-top: 200px;
    text-align: center;
    align-items: center;
    
}

.btn{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--btn-color);
    border-radius: 20px;
    width: auto;
    padding: 15px 30px;
    color: var(--text-color-white);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--btn-hover-color);
}

@media (max-width: 480px){
    .hamburger{
        display: flex;
    }

    .navbar{
        display: flex;
    }

    .nav-links{
        display: none;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    #menu-toggle:checked + .hamburger + .logo + .nav-links {
        display: flex;
    }

    /* HAMBURGER ANIMATION (into X) */
    #menu-toggle:checked + .hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    #menu-toggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .logo{
        position: absolute;
        left: 30%;
    }

    .first-section{
        padding: 0 20px;
        padding-bottom: 20px;

    }

    .btn {
        margin: 40px 0;
        background-color: var(--btn-color);
        padding: 15px 30px;
        border-radius: 20px;
        color: var(--text-color-white);
        cursor: pointer;
    }
}