@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Spin Cycle OT";
    src: url("fonts/Spin-Cycle-OT.otf") format("opentype");
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(Assets/background.png);
    font-family: "source sans pro";
}

.flex-box{
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.noflex-box{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.nav-links{
    list-style-type: none;
}

.nav-links li{
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 12px;
    font-weight: bold;
}

.navbar{
    padding: 10px 40px;
    margin: 0;
}

.logo{
    padding-left: 50px;
}

.logo img {
    width: 50px; 
    height: auto;
    border-radius: 100%;
}

header{
    color: white;
}

.pros{
    flex-direction: column;
    color: white;
    line-height: 1.5px;
}

.pros h1{
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 60px;
}

ul span{
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn {
    font-weight: normal;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #C271FF;
    color: white;
    cursor: pointer;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.18),
        0 2px 20px rgba(0, 0, 0, 0.10);
}

.learn-pros {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 80px;
}

.learn-pros h2 {
    font-size: 32px;
    font-weight: 300;
    color: white;
    text-align: center; 
}

.colored-text {
    color: #C271FF;
    font-weight: bold;
}

.learn-pros-images {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 120px; 
    font-size: 18px;
    color: white;
    font-style: normal;
}


.learn-pros-images > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 180px;
}

.learn-pros-images img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.learn-pros-images h3 {
    margin: 5px 0;
}

.learn-pros-images p {
    font-style: italic;
    margin: 0;
}

.quotes-container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;  
    align-items: center;
    background-color: #C271FF;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;
}

.quotes-container img{
    margin-left: 100px;
    margin-right: 50px;
    width: 160px;
    height: auto;
}

.quotes h3, p{
    margin-left: 40px;
}

.quotes h3{
    margin-bottom: -15px;
}

.popular-tutorials{
    background-color: white;
    padding-bottom: 80px;
}

.popular-tutorials h2 {
    font-size: 32px;
    font-weight: 300;
    color: black;
    margin: 0;
    padding: 40px 0;
}

.video-thumbnail {
    position: relative;
    display: inline-block;
    width: fit-content;  
}

.video-thumbnail img {
    display: block;        
    width: 100%;          
    height: auto;         
    border-radius: 10px;  
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;          
    height: 40px;
    background-color: white;
    border-radius: 100px;    

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 12px rgba(0,0,0,0.2); 
    cursor: pointer;
}

.play-icon i {
    font-size: 28px;        
    color: #C271FF;        
}

.videos h3{
    font-size: 16px;
    font-weight: bold;
}

.videos p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(159, 158, 158);
    margin: 0;
}

.videos{
    text-align: left;
    margin: 0 80px;
}

.author{
    justify-content: space-around;
    text-align: left;
    margin: 0;
}

.author img{
    width: 30px;
    height: auto;
    margin: 0;
}

.author h4{
    font-size: 14px;
    font-weight: 400;
}

.rating{
    justify-content: space-around;
    text-align: left;
    margin-bottom: 0;
}

.membership {
    background-color: #071629;
    width: 100%;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}

.membership h2{
    font-size: 32px;
    font-weight: 300;
    color: white;
    text-align: center; 
    margin-bottom: 50px;
}

.smileNmessage{
    margin-left: 65px;
    margin-right: 65px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.smileNmessage p{
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 400;
}

.smileNmessage h3{
    font-size: 16px;
    font-weight: bold;
}

